
.fdtableheader
{
border-top-style: solid;
border-top-width: thin;
border-top-color: rgb(255, 255, 255);
border-left-style: solid;
border-left-width: thin;
border-left-color: rgb(255, 255, 255);
padding-left: 10px;
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: rgb(255, 255, 255);
}

.fdtableheaderright
{
border-right-style: solid;
border-right-width: thin;
border-right-color: rgb(255, 255, 255);
padding-left: 10px;
}

.fdtableheaderleft
{
border-left-style: solid;
border-left-width: thin;
border-left-color: rgb(255, 255, 255);
padding-left: 10px;
}

.iftableheader
{
border-top-style: solid;
border-top-width: thin;
border-top-color: rgb(255, 255, 255);
border-left-style: solid;
border-left-width: thin;
border-left-color: rgb(255, 255, 255);
padding-left: 10px;
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: rgb(255, 255, 255);
}

.iftableheaderright
{
border-right-style: solid;
border-right-width: thin;
border-right-color: rgb(255, 255, 255);
padding-left: 10px;
}

.iftableheaderleft
{
border-left-style: solid;
border-left-width: thin;
border-left-color: rgb(255, 255, 255);
padding-left: 10px;
}

.fdtablecell
{
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: rgb(201, 205, 209);
border-left-style: solid;
border-left-width: thin;
border-left-color: rgb(201, 205, 209);
padding-top: 10px;
padding-left: 10px;
}

.fdtablecellright
{
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: rgb(201, 205, 209);
border-left-style: solid;
border-left-width: thin;
border-left-color: rgb(201, 205, 209);
padding-top: 10px;
padding-left: 10px;
}

.fdexampletop
{
}

.fdexamplemiddle
{
}

.fdexamplebottom
{
}

.iftablecell
{
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: rgb(201, 205, 209);
border-left-style: solid;
border-left-width: thin;
border-left-color: rgb(201, 205, 209);
padding-top: 10px;
padding-left: 10px;
}

.iftablecellright
{
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: rgb(201, 205, 209);
border-left-style: solid;
border-left-width: thin;
border-left-color: rgb(201, 205, 209);
padding-top: 10px;
padding-left: 10px;
}
body { margin-top: 0em;margin-left: 0.5in;margin-right: 0.5in;margin-bottom: 0.5in;}.mirror { text-align: right} .fd-table-roc-cell{    min-width: 100px;    width: 10%;    display: table-cell;}.fd-table-desc-cell{    width: auto;    display: table-cell;}
			/* Default Text */
			.s_style000000000000000000000000000
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0mm;padding-right:0mm;padding-top:2.7mm;padding-bottom:0mm;
			}

			/* Default Text */
			.b_style000000000000000000000000000
			{
				background-color: rgb(255,255,255);
			}

			/* Default Text */
			.c_style000000000000000000000000000
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Default Text */
			.bd_style000000000000000000000000000
			{
				
			}

			/* Default Text */
			.m_style000000000000000000000000000
			{
				margin-left:0mm;margin-right:0mm;margin-top:2.7mm;margin-bottom:0mm;
			}

			/* Default Text */
			.i_style000000000000000000000000000
			{
				padding-left:0mm;padding-right:0mm;padding-top:2.7mm;padding-bottom:0mm;
			}

			/* Default Text */
			.o_style000000000000000000000000000
			{
				margin-left:0mm;margin-right:0mm;margin-top:2.7mm;margin-bottom:0mm;
			}

			/* Step */
			.s_style000000000000000000000000001
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0mm;padding-right:0mm;padding-top:2.7mm;padding-bottom:0mm;
			}

			/* Step */
			.b_style000000000000000000000000001
			{
				background-color: rgb(255,255,255);
			}

			/* Step */
			.c_style000000000000000000000000001
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Step */
			.bd_style000000000000000000000000001
			{
				
			}

			/* Step */
			.m_style000000000000000000000000001
			{
				margin-left:0mm;margin-right:0mm;margin-top:2.7mm;margin-bottom:0mm;
			}

			/* Step */
			.i_style000000000000000000000000001
			{
				padding-left:0mm;padding-right:0mm;padding-top:2.7mm;padding-bottom:0mm;
			}

			/* Step */
			.o_style000000000000000000000000001
			{
				margin-left:0mm;margin-right:0mm;margin-top:2.7mm;margin-bottom:0mm;
			}

			/* Step Number */
			.s_style000000000000000000000000002
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Step Number */
			.b_style000000000000000000000000002
			{
				background-color: rgb(255,255,255);
			}

			/* Step Number */
			.c_style000000000000000000000000002
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Step Number */
			.bd_style000000000000000000000000002
			{
				
			}

			/* Step Number */
			.m_style000000000000000000000000002
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Step Number */
			.i_style000000000000000000000000002
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Step Number */
			.o_style000000000000000000000000002
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Document Note */
			.s_style000000000000000000000000003
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Document Note */
			.b_style000000000000000000000000003
			{
				background-color: rgb(255,255,255);
			}

			/* Document Note */
			.c_style000000000000000000000000003
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Document Note */
			.bd_style000000000000000000000000003
			{
				
			}

			/* Document Note */
			.m_style000000000000000000000000003
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Document Note */
			.i_style000000000000000000000000003
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Document Note */
			.o_style000000000000000000000000003
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Simulation Note */
			.s_style000000000000000000000000004
			{
				background-color: rgb(255,255,214);font-family:'Verdana';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);border-width:thin;border-style: solid;border-color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Simulation Note */
			.b_style000000000000000000000000004
			{
				background-color: rgb(255,255,214);
			}

			/* Simulation Note */
			.c_style000000000000000000000000004
			{
				font-family:'Verdana';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Simulation Note */
			.bd_style000000000000000000000000004
			{
				border-width:thin;border-style: solid;border-color: rgb(0,0,0);
			}

			/* Simulation Note */
			.m_style000000000000000000000000004
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Simulation Note */
			.i_style000000000000000000000000004
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Simulation Note */
			.o_style000000000000000000000000004
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;outline: solid thin rgb(0,0,0); border-style:none;
			}

			/* Default Course Text */
			.s_style000000000000000000000000012
			{
				background-color: rgb(255,255,255);font-family:'Arial Unicode MS';font-size:14pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Text */
			.b_style000000000000000000000000012
			{
				background-color: rgb(255,255,255);
			}

			/* Default Course Text */
			.c_style000000000000000000000000012
			{
				font-family:'Arial Unicode MS';font-size:14pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Default Course Text */
			.bd_style000000000000000000000000012
			{
				
			}

			/* Default Course Text */
			.m_style000000000000000000000000012
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Text */
			.i_style000000000000000000000000012
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Text */
			.o_style000000000000000000000000012
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Content Title Text */
			.s_style000000000000000000000000014
			{
				background-color: rgb(255,255,255);font-family:'Arial Unicode MS';font-size:14pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Content Title Text */
			.b_style000000000000000000000000014
			{
				background-color: rgb(255,255,255);
			}

			/* Default Course Content Title Text */
			.c_style000000000000000000000000014
			{
				font-family:'Arial Unicode MS';font-size:14pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Default Course Content Title Text */
			.bd_style000000000000000000000000014
			{
				
			}

			/* Default Course Content Title Text */
			.m_style000000000000000000000000014
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Content Title Text */
			.i_style000000000000000000000000014
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Content Title Text */
			.o_style000000000000000000000000014
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Title Text */
			.s_style000000000000000000000000015
			{
				background-color: rgb(255,255,255);font-family:'Arial Unicode MS';font-size:24pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(208,223,254);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Title Text */
			.b_style000000000000000000000000015
			{
				background-color: rgb(255,255,255);
			}

			/* Default Course Title Text */
			.c_style000000000000000000000000015
			{
				font-family:'Arial Unicode MS';font-size:24pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(208,223,254);
			}

			/* Default Course Title Text */
			.bd_style000000000000000000000000015
			{
				
			}

			/* Default Course Title Text */
			.m_style000000000000000000000000015
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Title Text */
			.i_style000000000000000000000000015
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Title Text */
			.o_style000000000000000000000000015
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Page Title Text */
			.s_style000000000000000000000000018
			{
				background-color: rgb(255,255,255);font-family:'Arial Unicode MS';font-size:15pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(208,223,254);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Page Title Text */
			.b_style000000000000000000000000018
			{
				background-color: rgb(255,255,255);
			}

			/* Default Course Page Title Text */
			.c_style000000000000000000000000018
			{
				font-family:'Arial Unicode MS';font-size:15pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(208,223,254);
			}

			/* Default Course Page Title Text */
			.bd_style000000000000000000000000018
			{
				
			}

			/* Default Course Page Title Text */
			.m_style000000000000000000000000018
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Page Title Text */
			.i_style000000000000000000000000018
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Page Title Text */
			.o_style000000000000000000000000018
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Popup Text */
			.s_style000000000000000000000000019
			{
				background-color: rgb(255,255,255);font-family:'Arial Unicode MS';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Popup Text */
			.b_style000000000000000000000000019
			{
				background-color: rgb(255,255,255);
			}

			/* Default Course Popup Text */
			.c_style000000000000000000000000019
			{
				font-family:'Arial Unicode MS';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Default Course Popup Text */
			.bd_style000000000000000000000000019
			{
				
			}

			/* Default Course Popup Text */
			.m_style000000000000000000000000019
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Popup Text */
			.i_style000000000000000000000000019
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Popup Text */
			.o_style000000000000000000000000019
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Questions Text */
			.s_style000000000000000000000000020
			{
				background-color: rgb(255,255,255);font-family:'Arial Unicode MS';font-size:14pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Questions Text */
			.b_style000000000000000000000000020
			{
				background-color: rgb(255,255,255);
			}

			/* Default Course Questions Text */
			.c_style000000000000000000000000020
			{
				font-family:'Arial Unicode MS';font-size:14pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Default Course Questions Text */
			.bd_style000000000000000000000000020
			{
				
			}

			/* Default Course Questions Text */
			.m_style000000000000000000000000020
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Questions Text */
			.i_style000000000000000000000000020
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Questions Text */
			.o_style000000000000000000000000020
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Document Title */
			.s_dc7845dc47fc49f49db7b0909ba8c5c5
			{
				background-color: rgb(255,255,255);font-family:'Century Gothic';font-size:20pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0.5in;padding-bottom:0in;
			}

			/* Document Title */
			.b_dc7845dc47fc49f49db7b0909ba8c5c5
			{
				background-color: rgb(255,255,255);
			}

			/* Document Title */
			.c_dc7845dc47fc49f49db7b0909ba8c5c5
			{
				font-family:'Century Gothic';font-size:20pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Document Title */
			.bd_dc7845dc47fc49f49db7b0909ba8c5c5
			{
				
			}

			/* Document Title */
			.m_dc7845dc47fc49f49db7b0909ba8c5c5
			{
				margin-left:0in;margin-right:0in;margin-top:0.5in;margin-bottom:0in;
			}

			/* Document Title */
			.i_dc7845dc47fc49f49db7b0909ba8c5c5
			{
				padding-left:0in;padding-right:0in;padding-top:0.5in;padding-bottom:0in;
			}

			/* Document Title */
			.o_dc7845dc47fc49f49db7b0909ba8c5c5
			{
				margin-left:0in;margin-right:0in;margin-top:0.5in;margin-bottom:0in;
			}

			/* Screen Caption */
			.s_692ab59206c740289ea4d0724c4f58fa
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:11pt;font-style:italic;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Screen Caption */
			.b_692ab59206c740289ea4d0724c4f58fa
			{
				background-color: rgb(255,255,255);
			}

			/* Screen Caption */
			.c_692ab59206c740289ea4d0724c4f58fa
			{
				font-family:'Arial';font-size:11pt;font-style:italic;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Screen Caption */
			.bd_692ab59206c740289ea4d0724c4f58fa
			{
				
			}

			/* Screen Caption */
			.m_692ab59206c740289ea4d0724c4f58fa
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Screen Caption */
			.i_692ab59206c740289ea4d0724c4f58fa
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Screen Caption */
			.o_692ab59206c740289ea4d0724c4f58fa
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Section Name */
			.s_31e050ca13f2482e8cfb4616209c4ffd
			{
				background-color: rgb(255,255,255);font-family:'Century Gothic';font-size:14pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0mm;text-align:left;color: rgb(180,180,180);border-bottom: thin dotted rgb(51,51,51);padding-left:0mm;padding-right:0mm;padding-top:6.6mm;padding-bottom:0.5mm;
			}

			/* Section Name */
			.b_31e050ca13f2482e8cfb4616209c4ffd
			{
				background-color: rgb(255,255,255);
			}

			/* Section Name */
			.c_31e050ca13f2482e8cfb4616209c4ffd
			{
				font-family:'Century Gothic';font-size:14pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0mm;text-align:left;color: rgb(180,180,180);
			}

			/* Section Name */
			.bd_31e050ca13f2482e8cfb4616209c4ffd
			{
				border-bottom: thin dotted rgb(51,51,51);
			}

			/* Section Name */
			.m_31e050ca13f2482e8cfb4616209c4ffd
			{
				margin-left:0mm;margin-right:0mm;margin-top:6.6mm;margin-bottom:0.5mm;
			}

			/* Section Name */
			.i_31e050ca13f2482e8cfb4616209c4ffd
			{
				padding-left:0mm;padding-right:0mm;padding-top:6.6mm;padding-bottom:0.5mm;
			}

			/* Section Name */
			.o_31e050ca13f2482e8cfb4616209c4ffd
			{
				margin-left:0mm;margin-right:0mm;margin-top:6.6mm;margin-bottom:0.5mm;outline: thin dotted rgb(51,51,51); border-style:none;
			}

			/* Top Navigation Text */
			.s_00000000000000000000000000000030
			{
				background-color: rgb(101,133,184);font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(190,210,249);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Top Navigation Text */
			.b_00000000000000000000000000000030
			{
				background-color: rgb(101,133,184);
			}

			/* Top Navigation Text */
			.c_00000000000000000000000000000030
			{
				font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(190,210,249);
			}

			/* Top Navigation Text */
			.bd_00000000000000000000000000000030
			{
				
			}

			/* Top Navigation Text */
			.m_00000000000000000000000000000030
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Top Navigation Text */
			.i_00000000000000000000000000000030
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Top Navigation Text */
			.o_00000000000000000000000000000030
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Page Title Text */
			.s_00000000000000000000000000000031
			{
				background-color: rgb(101,133,184);font-family:'Arial';font-size:20pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(190,210,249);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Page Title Text */
			.b_00000000000000000000000000000031
			{
				background-color: rgb(101,133,184);
			}

			/* Page Title Text */
			.c_00000000000000000000000000000031
			{
				font-family:'Arial';font-size:20pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(190,210,249);
			}

			/* Page Title Text */
			.bd_00000000000000000000000000000031
			{
				
			}

			/* Page Title Text */
			.m_00000000000000000000000000000031
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Page Title Text */
			.i_00000000000000000000000000000031
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Page Title Text */
			.o_00000000000000000000000000000031
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Page Description Text */
			.s_00000000000000000000000000000032
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Page Description Text */
			.b_00000000000000000000000000000032
			{
				background-color: rgb(255,255,255);
			}

			/* Page Description Text */
			.c_00000000000000000000000000000032
			{
				font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Page Description Text */
			.bd_00000000000000000000000000000032
			{
				
			}

			/* Page Description Text */
			.m_00000000000000000000000000000032
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Page Description Text */
			.i_00000000000000000000000000000032
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Page Description Text */
			.o_00000000000000000000000000000032
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Link Text */
			.s_00000000000000000000000000000033
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Link Text */
			.b_00000000000000000000000000000033
			{
				background-color: rgb(255,255,255);
			}

			/* Link Text */
			.c_00000000000000000000000000000033
			{
				font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Link Text */
			.bd_00000000000000000000000000000033
			{
				
			}

			/* Link Text */
			.m_00000000000000000000000000000033
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Link Text */
			.i_00000000000000000000000000000033
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Link Text */
			.o_00000000000000000000000000000033
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Simulation User Interface */
			.s_00000000000000000000000000000034
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Simulation User Interface */
			.b_00000000000000000000000000000034
			{
				background-color: rgb(255,255,255);
			}

			/* Simulation User Interface */
			.c_00000000000000000000000000000034
			{
				font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Simulation User Interface */
			.bd_00000000000000000000000000000034
			{
				
			}

			/* Simulation User Interface */
			.m_00000000000000000000000000000034
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Simulation User Interface */
			.i_00000000000000000000000000000034
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Simulation User Interface */
			.o_00000000000000000000000000000034
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 1 */
			.s_toc00000000000000000000000000001
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:14pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 1 */
			.b_toc00000000000000000000000000001
			{
				background-color: rgb(255,255,255);
			}

			/* Table of Contents 1 */
			.c_toc00000000000000000000000000001
			{
				font-family:'Arial';font-size:14pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Table of Contents 1 */
			.bd_toc00000000000000000000000000001
			{
				
			}

			/* Table of Contents 1 */
			.m_toc00000000000000000000000000001
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 1 */
			.i_toc00000000000000000000000000001
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 1 */
			.o_toc00000000000000000000000000001
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 2 */
			.s_toc00000000000000000000000000002
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:13pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 2 */
			.b_toc00000000000000000000000000002
			{
				background-color: rgb(255,255,255);
			}

			/* Table of Contents 2 */
			.c_toc00000000000000000000000000002
			{
				font-family:'Arial';font-size:13pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Table of Contents 2 */
			.bd_toc00000000000000000000000000002
			{
				
			}

			/* Table of Contents 2 */
			.m_toc00000000000000000000000000002
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 2 */
			.i_toc00000000000000000000000000002
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 2 */
			.o_toc00000000000000000000000000002
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 3 */
			.s_toc00000000000000000000000000003
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 3 */
			.b_toc00000000000000000000000000003
			{
				background-color: rgb(255,255,255);
			}

			/* Table of Contents 3 */
			.c_toc00000000000000000000000000003
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Table of Contents 3 */
			.bd_toc00000000000000000000000000003
			{
				
			}

			/* Table of Contents 3 */
			.m_toc00000000000000000000000000003
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 3 */
			.i_toc00000000000000000000000000003
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 3 */
			.o_toc00000000000000000000000000003
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 4 */
			.s_toc00000000000000000000000000004
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:italic;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 4 */
			.b_toc00000000000000000000000000004
			{
				background-color: rgb(255,255,255);
			}

			/* Table of Contents 4 */
			.c_toc00000000000000000000000000004
			{
				font-family:'Arial';font-size:12pt;font-style:italic;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Table of Contents 4 */
			.bd_toc00000000000000000000000000004
			{
				
			}

			/* Table of Contents 4 */
			.m_toc00000000000000000000000000004
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 4 */
			.i_toc00000000000000000000000000004
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 4 */
			.o_toc00000000000000000000000000004
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 5 */
			.s_toc00000000000000000000000000005
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:11pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 5 */
			.b_toc00000000000000000000000000005
			{
				background-color: rgb(255,255,255);
			}

			/* Table of Contents 5 */
			.c_toc00000000000000000000000000005
			{
				font-family:'Arial';font-size:11pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Table of Contents 5 */
			.bd_toc00000000000000000000000000005
			{
				
			}

			/* Table of Contents 5 */
			.m_toc00000000000000000000000000005
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 5 */
			.i_toc00000000000000000000000000005
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 5 */
			.o_toc00000000000000000000000000005
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 6 */
			.s_toc00000000000000000000000000006
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:11pt;font-style:italic;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 6 */
			.b_toc00000000000000000000000000006
			{
				background-color: rgb(255,255,255);
			}

			/* Table of Contents 6 */
			.c_toc00000000000000000000000000006
			{
				font-family:'Arial';font-size:11pt;font-style:italic;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Table of Contents 6 */
			.bd_toc00000000000000000000000000006
			{
				
			}

			/* Table of Contents 6 */
			.m_toc00000000000000000000000000006
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents 6 */
			.i_toc00000000000000000000000000006
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents 6 */
			.o_toc00000000000000000000000000006
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents */
			.s_toc00000000000000000000000000000
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:14pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents */
			.b_toc00000000000000000000000000000
			{
				background-color: rgb(255,255,255);
			}

			/* Table of Contents */
			.c_toc00000000000000000000000000000
			{
				font-family:'Arial';font-size:14pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Table of Contents */
			.bd_toc00000000000000000000000000000
			{
				
			}

			/* Table of Contents */
			.m_toc00000000000000000000000000000
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table of Contents */
			.i_toc00000000000000000000000000000
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Table of Contents */
			.o_toc00000000000000000000000000000
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Drag Drop Text */
			.s_style000000000000000000000000021
			{
				background-color: rgb(255,255,255);font-family:'Arial Unicode MS';font-size:14pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Drag Drop Text */
			.b_style000000000000000000000000021
			{
				background-color: rgb(255,255,255);
			}

			/* Default Course Drag Drop Text */
			.c_style000000000000000000000000021
			{
				font-family:'Arial Unicode MS';font-size:14pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Default Course Drag Drop Text */
			.bd_style000000000000000000000000021
			{
				
			}

			/* Default Course Drag Drop Text */
			.m_style000000000000000000000000021
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Default Course Drag Drop Text */
			.i_style000000000000000000000000021
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Default Course Drag Drop Text */
			.o_style000000000000000000000000021
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Guided Help User Interface */
			.s_gh000000000000000000000000000022
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Guided Help User Interface */
			.b_gh000000000000000000000000000022
			{
				background-color: rgb(255,255,255);
			}

			/* Guided Help User Interface */
			.c_gh000000000000000000000000000022
			{
				font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Guided Help User Interface */
			.bd_gh000000000000000000000000000022
			{
				
			}

			/* Guided Help User Interface */
			.m_gh000000000000000000000000000022
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Guided Help User Interface */
			.i_gh000000000000000000000000000022
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Guided Help User Interface */
			.o_gh000000000000000000000000000022
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* In-Block Header */
			h3			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0mm;padding-right:0mm;padding-top:5.3mm;padding-bottom:3.7mm;
			}

			/* In-Block Header */
			.b_1da68fb3a18348319f28fb290410e3ef
			{
				background-color: rgb(255,255,255);
			}

			/* In-Block Header */
			.c_1da68fb3a18348319f28fb290410e3ef
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* In-Block Header */
			.bd_1da68fb3a18348319f28fb290410e3ef
			{
				
			}

			/* In-Block Header */
			.m_1da68fb3a18348319f28fb290410e3ef
			{
				margin-left:0mm;margin-right:0mm;margin-top:5.3mm;margin-bottom:3.7mm;
			}

			/* In-Block Header */
			.i_1da68fb3a18348319f28fb290410e3ef
			{
				padding-left:0mm;padding-right:0mm;padding-top:5.3mm;padding-bottom:3.7mm;
			}

			/* In-Block Header */
			.o_1da68fb3a18348319f28fb290410e3ef
			{
				margin-left:0mm;margin-right:0mm;margin-top:5.3mm;margin-bottom:3.7mm;
			}

			/* Table Header */
			.s_1da68fb3a18348319f28fb290410e3ee
			{
				background-color: rgb(230,232,234);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);border-width:thin;border-style: solid;border-color: rgb(255,255,255);padding-left:1.6mm;padding-right:1.6mm;padding-top:1.6mm;padding-bottom:1.6mm;
			}

			/* Table Header */
			.b_1da68fb3a18348319f28fb290410e3ee
			{
				background-color: rgb(230,232,234);
			}

			/* Table Header */
			.c_1da68fb3a18348319f28fb290410e3ee
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Table Header */
			.bd_1da68fb3a18348319f28fb290410e3ee
			{
				border-width:thin;border-style: solid;border-color: rgb(255,255,255);
			}

			/* Table Header */
			.m_1da68fb3a18348319f28fb290410e3ee
			{
				margin-left:1.6mm;margin-right:1.6mm;margin-top:1.6mm;margin-bottom:1.6mm;
			}

			/* Table Header */
			.i_1da68fb3a18348319f28fb290410e3ee
			{
				padding-left:1.6mm;padding-right:1.6mm;padding-top:1.6mm;padding-bottom:1.6mm;
			}

			/* Table Header */
			.o_1da68fb3a18348319f28fb290410e3ee
			{
				margin-left:1.6mm;margin-right:1.6mm;margin-top:1.6mm;margin-bottom:1.6mm;outline: solid thin rgb(255,255,255); border-style:none;
			}

			/* Table Caption */
			.s_tablecaption4ea4b5b7f1513bb0fc8a
			{
				background-color: rgb(209,211,212);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:center;color: rgb(0,0,0);border-width:thin;border-style: solid;border-color: rgb(255,255,255);padding-left:1.6mm;padding-right:1.6mm;padding-top:1.6mm;padding-bottom:1.6mm;
			}

			/* Table Caption */
			.b_tablecaption4ea4b5b7f1513bb0fc8a
			{
				background-color: rgb(209,211,212);
			}

			/* Table Caption */
			.c_tablecaption4ea4b5b7f1513bb0fc8a
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:center;color: rgb(0,0,0);
			}

			/* Table Caption */
			.bd_tablecaption4ea4b5b7f1513bb0fc8a
			{
				border-width:thin;border-style: solid;border-color: rgb(255,255,255);
			}

			/* Table Caption */
			.m_tablecaption4ea4b5b7f1513bb0fc8a
			{
				margin-left:1.6mm;margin-right:1.6mm;margin-top:1.6mm;margin-bottom:1.6mm;
			}

			/* Table Caption */
			.i_tablecaption4ea4b5b7f1513bb0fc8a
			{
				padding-left:1.6mm;padding-right:1.6mm;padding-top:1.6mm;padding-bottom:1.6mm;
			}

			/* Table Caption */
			.o_tablecaption4ea4b5b7f1513bb0fc8a
			{
				margin-left:1.6mm;margin-right:1.6mm;margin-top:1.6mm;margin-bottom:1.6mm;outline: solid thin rgb(255,255,255); border-style:none;
			}

			/* Table Text */
			.s_235f8a7f45a344f288e3a7ba8263ee6e
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);border-width:thin;border-style: solid;border-color: rgb(201,205,209);padding-left:1.6mm;padding-right:1.6mm;padding-top:1.6mm;padding-bottom:1.6mm;
			}

			/* Table Text */
			.b_235f8a7f45a344f288e3a7ba8263ee6e
			{
				background-color: rgb(255,255,255);
			}

			/* Table Text */
			.c_235f8a7f45a344f288e3a7ba8263ee6e
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Table Text */
			.bd_235f8a7f45a344f288e3a7ba8263ee6e
			{
				border-width:thin;border-style: solid;border-color: rgb(201,205,209);
			}

			/* Table Text */
			.m_235f8a7f45a344f288e3a7ba8263ee6e
			{
				margin-left:1.6mm;margin-right:1.6mm;margin-top:1.6mm;margin-bottom:1.6mm;
			}

			/* Table Text */
			.i_235f8a7f45a344f288e3a7ba8263ee6e
			{
				padding-left:1.6mm;padding-right:1.6mm;padding-top:1.6mm;padding-bottom:1.6mm;
			}

			/* Table Text */
			.o_235f8a7f45a344f288e3a7ba8263ee6e
			{
				margin-left:1.6mm;margin-right:1.6mm;margin-top:1.6mm;margin-bottom:1.6mm;outline: solid thin rgb(201,205,209); border-style:none;
			}

			/* Generic Table Text */
			.s_9bc939c5070e42918b1eaad668ed4578
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);border-width:thin;border-style: solid;border-color: rgb(201,205,209);padding-left:1.6mm;padding-right:1.6mm;padding-top:1.6mm;padding-bottom:1.6mm;
			}

			/* Generic Table Text */
			.b_9bc939c5070e42918b1eaad668ed4578
			{
				background-color: rgb(255,255,255);
			}

			/* Generic Table Text */
			.c_9bc939c5070e42918b1eaad668ed4578
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Generic Table Text */
			.bd_9bc939c5070e42918b1eaad668ed4578
			{
				border-width:thin;border-style: solid;border-color: rgb(201,205,209);
			}

			/* Generic Table Text */
			.m_9bc939c5070e42918b1eaad668ed4578
			{
				margin-left:1.6mm;margin-right:1.6mm;margin-top:1.6mm;margin-bottom:1.6mm;
			}

			/* Generic Table Text */
			.i_9bc939c5070e42918b1eaad668ed4578
			{
				padding-left:1.6mm;padding-right:1.6mm;padding-top:1.6mm;padding-bottom:1.6mm;
			}

			/* Generic Table Text */
			.o_9bc939c5070e42918b1eaad668ed4578
			{
				margin-left:1.6mm;margin-right:1.6mm;margin-top:1.6mm;margin-bottom:1.6mm;outline: solid thin rgb(201,205,209); border-style:none;
			}

			/* Example */
			.s_fe2c4ec3bd344810a56ece91fe47b6eb
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Example */
			.b_fe2c4ec3bd344810a56ece91fe47b6eb
			{
				background-color: rgb(255,255,255);
			}

			/* Example */
			.c_fe2c4ec3bd344810a56ece91fe47b6eb
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Example */
			.bd_fe2c4ec3bd344810a56ece91fe47b6eb
			{
				
			}

			/* Example */
			.m_fe2c4ec3bd344810a56ece91fe47b6eb
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Example */
			.i_fe2c4ec3bd344810a56ece91fe47b6eb
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Example */
			.o_fe2c4ec3bd344810a56ece91fe47b6eb
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Example Phrase */
			.s_f005829e3d11405eaa1057760c663c0e
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Example Phrase */
			.b_f005829e3d11405eaa1057760c663c0e
			{
				background-color: rgb(255,255,255);
			}

			/* Example Phrase */
			.c_f005829e3d11405eaa1057760c663c0e
			{
				font-family:'Arial';font-size:12pt;font-style:normal;font-weight:bold;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Example Phrase */
			.bd_f005829e3d11405eaa1057760c663c0e
			{
				
			}

			/* Example Phrase */
			.m_f005829e3d11405eaa1057760c663c0e
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Example Phrase */
			.i_f005829e3d11405eaa1057760c663c0e
			{
				padding-left:0in;padding-right:0in;padding-top:0in;padding-bottom:0in;
			}

			/* Example Phrase */
			.o_f005829e3d11405eaa1057760c663c0e
			{
				margin-left:0in;margin-right:0in;margin-top:0in;margin-bottom:0in;
			}

			/* Table Outline */
			.s_098f6d70768d4903a2f330fef60c0f3a
			{
				background-color: rgb(255,255,255);font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);border-width:thin;border-style: solid;border-color: rgb(201,205,209);padding-left:0.5mm;padding-right:0mm;padding-top:2.7mm;padding-bottom:2.7mm;
			}

			/* Table Outline */
			.b_098f6d70768d4903a2f330fef60c0f3a
			{
				background-color: rgb(255,255,255);
			}

			/* Table Outline */
			.c_098f6d70768d4903a2f330fef60c0f3a
			{
				font-family:'Arial';font-size:10pt;font-style:normal;font-weight:normal;text-decoration:none;text-indent:0in;text-align:left;color: rgb(0,0,0);
			}

			/* Table Outline */
			.bd_098f6d70768d4903a2f330fef60c0f3a
			{
				border-width:thin;border-style: solid;border-color: rgb(201,205,209);
			}

			/* Table Outline */
			.m_098f6d70768d4903a2f330fef60c0f3a
			{
				margin-left:0.5mm;margin-right:0mm;margin-top:2.7mm;margin-bottom:2.7mm;
			}

			/* Table Outline */
			.i_098f6d70768d4903a2f330fef60c0f3a
			{
				padding-left:0.5mm;padding-right:0mm;padding-top:2.7mm;padding-bottom:2.7mm;
			}

			/* Table Outline */
			.o_098f6d70768d4903a2f330fef60c0f3a
			{
				margin-left:0.5mm;margin-right:0mm;margin-top:2.7mm;margin-bottom:2.7mm;outline: solid thin rgb(201,205,209); border-style:none;
			}

			/* Table Outline */
			.outlineFDTable_098f6d70768d4903a2f330fef60c0f3a
			{
				margin-left:0.5mm;margin-right:0mm;margin-top:2.7mm;margin-bottom:2.7mm;border: solid thin rgb(201,205,209);
			}
